<h1 class="display-4">List of Teams</h1>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-users'></i> New Team".html_safe, new_team_path, class: "#{submit_button}" %>
<div class="p-2"></div>

<div class="">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td>
          <%= link_to "<i class='fa fa-users'></i> Display Team Members".html_safe, display_team_members_path(team), class: "#{submit_button}" %>
          <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_team_path(team), class: "#{submit_button}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-users'></i> New Team".html_safe, new_team_path, class: "#{submit_button}" %>

