@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/reset/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * selectize.css (v0.12.6)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
/* line 17, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  box-shadow: inset 0 0 12px 4px #fff;
}

/* line 25, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}

/* line 29, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 33, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  border-radius: 3px 3px 0 0;
}

/* line 42, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}

/* line 52, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-header-close:hover {
  color: #000000;
}

/* line 55, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  box-sizing: border-box;
}

/* line 63, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}

/* line 66, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}

/* line 69, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}

/* line 72, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

/* line 76, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
}

/* line 100, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 103, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}

/* line 106, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

/* line 109, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}

/* line 112, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 23px;
}

/* line 118, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control {
  position: relative;
}

/* line 121, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}

/* line 130, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #fff;
  cursor: text;
  display: inline-block;
}

/* line 136, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* line 153, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}

/* line 156, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.full {
  background-color: #fff;
}

/* line 159, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

/* line 163, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* line 167, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.dropdown-active {
  border-radius: 3px 3px 0 0;
}

/* line 172, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 179, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}

/* line 187, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}

/* line 192, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}

/* line 198, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  box-shadow: none !important;
}

/* line 213, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input::-ms-clear {
  display: none;
}

/* line 216, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input > input:focus {
  outline: none !important;
}

/* line 219, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}

/* line 224, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 234, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #fff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

/* line 250, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}

/* line 254, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px;
}

/* line 260, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}

/* line 264, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}

/* line 270, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown [data-selectable].option {
  opacity: 1;
}

/* line 273, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

/* line 276, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #fff;
  cursor: default;
}

/* line 281, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}

/* line 285, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .active.create {
  color: #495c68;
}

/* line 288, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}

/* line 291, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
}

/* line 297, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

/* line 301, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}

/* line 305, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}

/* line 318, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}

/* line 323, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}

/* line 327, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}

/* line 330, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/selectize-rails-0.12.6/vendor/assets/stylesheets/selectize.scss */
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/assets/bootstrap/glyphicons-halflings-regular-f495f34e4f177cf0115af995bbbfeb3fcabc88502876e76fc51a4ab439bc8431.eot");
  src: url("/assets/bootstrap/glyphicons-halflings-regular-f495f34e4f177cf0115af995bbbfeb3fcabc88502876e76fc51a4ab439bc8431.eot?#iefix") format("embedded-opentype"), url("/assets/bootstrap/glyphicons-halflings-regular-fc969dc1c6ff531abcf368089dcbaf5775133b0626ff56b52301a059fc0f9e1e.woff") format("woff"), url("/assets/bootstrap/glyphicons-halflings-regular-bd18efd3efd70fec8ad09611a20cdbf99440b2c1d40085c29be036f891d65358.ttf") format("truetype"), url("/assets/bootstrap/glyphicons-halflings-regular-d168d50a88c730b4e6830dc0da2a2b51dae4658a77d9619943c27b8ecfc19d1a.svg#glyphicons_halflingsregular") format("svg");
}

/* line 25, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 38, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 39, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 40, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 41, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 42, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 43, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 44, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 45, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 12, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_tables.scss */
.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapse {
  display: none;
}

/* line 13, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapse.in {
  display: block;
}

/* line 18, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
tr.collapse.in {
  display: table-row;
}

/* line 20, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
tbody.collapse.in {
  display: table-row-group;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_component-animations.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

/* line 6, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

/* line 29, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

/* line 35, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 40, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

/* line 53, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

/* line 63, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* line 78, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777;
}

/* line 86, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

/* line 97, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker/_dropdowns.scss */
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

/* line 16, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.pull-right {
  float: right !important;
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.15.35
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
/* line 26, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget {
  list-style: none;
}

/* line 29, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}

@media (min-width: 768px) {
  /* line 35, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 992px) {
  /* line 40, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

@media (min-width: 1200px) {
  /* line 45, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}

/* line 49, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}

/* line 55, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}

/* line 63, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}

/* line 70, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}

/* line 78, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}

/* line 85, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}

/* line 89, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}

/* line 93, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

/* line 96, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}

/* line 99, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}

/* line 102, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

/* line 110, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}

/* line 113, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

/* line 124, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

/* line 135, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

/* line 146, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

/* line 157, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

/* line 168, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

/* line 179, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

/* line 190, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}

/* line 201, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}

/* line 212, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

/* line 215, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

/* line 226, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

/* line 233, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}

/* line 238, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

/* line 242, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}

/* line 247, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

/* line 252, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

/* line 255, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 261, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

/* line 272, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

/* line 283, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

/* line 286, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}

/* line 289, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  white-space: normal;
  width: 54px;
}

/* line 295, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}

/* line 301, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

/* line 306, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* line 313, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}

/* line 317, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}

/* line 320, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

/* line 331, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 337, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}

/* line 340, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 346, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}

/* line 355, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}

/* line 358, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 363, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}

/* line 366, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}

/* line 372, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

/* line 376, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}

/* line 379, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}

/* line 382, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.input-group.date .input-group-addon {
  cursor: pointer;
}

/* line 385, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/datetime_picker_rails-0.0.7/app/assets/stylesheets/datetime_picker.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
legend {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* line 14, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
label {
  display: block;
  font-weight: 700;
  margin: 0;
}

/* line 20, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
input,
select {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

/* line 27, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* line 35, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #dfe0e1;
  border-radius: 4px;
  padding: 0.5em;
  transition: border-color 250ms ease-in-out;
  width: 100%;
}

/* line 58, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:hover,
[type="date"]:hover,
[type="datetime-local"]:hover,
[type="email"]:hover,
[type="month"]:hover,
[type="number"]:hover,
[type="password"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="text"]:hover,
[type="time"]:hover,
[type="url"]:hover,
[type="week"]:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #b2b3b4;
}

/* line 62, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #1976d2;
  outline: none;
}

/* line 67, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:disabled,
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

/* line 71, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]:disabled:hover,
[type="date"]:disabled:hover,
[type="datetime-local"]:disabled:hover,
[type="email"]:disabled:hover,
[type="month"]:disabled:hover,
[type="number"]:disabled:hover,
[type="password"]:disabled:hover,
[type="search"]:disabled:hover,
[type="tel"]:disabled:hover,
[type="text"]:disabled:hover,
[type="time"]:disabled:hover,
[type="url"]:disabled:hover,
[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #dfe0e1;
}

/* line 76, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="color"]::-webkit-input-placeholder,
[type="date"]::-webkit-input-placeholder,
[type="datetime-local"]::-webkit-input-placeholder,
[type="email"]::-webkit-input-placeholder,
[type="month"]::-webkit-input-placeholder,
[type="number"]::-webkit-input-placeholder,
[type="password"]::-webkit-input-placeholder,
[type="search"]::-webkit-input-placeholder,
[type="tel"]::-webkit-input-placeholder,
[type="text"]::-webkit-input-placeholder,
[type="time"]::-webkit-input-placeholder,
[type="url"]::-webkit-input-placeholder,
[type="week"]::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
}
[type="color"]:-ms-input-placeholder,
[type="date"]:-ms-input-placeholder,
[type="datetime-local"]:-ms-input-placeholder,
[type="email"]:-ms-input-placeholder,
[type="month"]:-ms-input-placeholder,
[type="number"]:-ms-input-placeholder,
[type="password"]:-ms-input-placeholder,
[type="search"]:-ms-input-placeholder,
[type="tel"]:-ms-input-placeholder,
[type="text"]:-ms-input-placeholder,
[type="time"]:-ms-input-placeholder,
[type="url"]:-ms-input-placeholder,
[type="week"]:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-style: italic;
}
[type="color"]::-ms-input-placeholder,
[type="date"]::-ms-input-placeholder,
[type="datetime-local"]::-ms-input-placeholder,
[type="email"]::-ms-input-placeholder,
[type="month"]::-ms-input-placeholder,
[type="number"]::-ms-input-placeholder,
[type="password"]::-ms-input-placeholder,
[type="search"]::-ms-input-placeholder,
[type="tel"]::-ms-input-placeholder,
[type="text"]::-ms-input-placeholder,
[type="time"]::-ms-input-placeholder,
[type="url"]::-ms-input-placeholder,
[type="week"]::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-style: italic;
}
[type="color"]::placeholder,
[type="date"]::placeholder,
[type="datetime-local"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="text"]::placeholder,
[type="time"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  font-style: italic;
}

/* line 81, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 85, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 91, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="file"] {
  width: 100%;
}

/* line 95, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
select {
  width: 100%;
}

/* line 103, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_forms.scss */
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(25, 118, 210, 0.6);
  outline-offset: 1px;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_layout.scss */
html {
  background-color: #f6f7f7;
  box-sizing: border-box;
}

/* line 6, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 12, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_layout.scss */
figure {
  margin: 0;
}

/* line 16, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_layout.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}

/* line 11, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_lists.scss */
dl dt {
  font-weight: 700;
  margin-top: 0.75em;
}

/* line 16, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
table {
  border-collapse: collapse;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
}

/* line 7, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
table a {
  color: inherit;
  text-decoration: none;
}

/* line 13, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
thead {
  font-weight: 700;
}

/* line 17, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
tr {
  border-bottom: 1px solid #dfe0e1;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
tbody tr:hover {
  background-color: #f6f7f7;
  cursor: pointer;
}

/* line 27, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
tbody tr:focus {
  outline: 3px solid rgba(25, 118, 210, 0.6);
  outline-offset: -3px;
}

/* line 33, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
td,
th {
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
          font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: lining-nums, tabular-nums;
  padding: 0.75rem;
  vertical-align: middle;
}

/* line 43, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
td:first-child,
th:first-child {
  padding-left: 2rem;
}

/* line 48, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
td:last-child,
th:last-child {
  padding-right: 2rem;
}

/* line 53, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_tables.scss */
td img {
  max-height: 2rem;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
body {
  color: #293f54;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}

/* line 20, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
a {
  color: #1976d2;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  transition: color 250ms ease-in-out;
}

/* line 29, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
a:hover {
  color: #13599e;
}

/* line 33, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
a:focus {
  outline: 3px solid rgba(25, 118, 210, 0.6);
  outline-offset: 1px;
}

/* line 39, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/base/_typography.scss */
hr {
  border-bottom: 1px solid #dfe0e1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_app-container.scss */
.app-container {
  align-items: stretch;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 1.5em;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_attributes.scss */
.attribute-label {
  color: #7b808c;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.0357em;
  position: relative;
  text-transform: uppercase;
  clear: left;
  float: left;
  margin-bottom: 1.5em;
  margin-top: 0;
  text-align: right;
  width: calc(15% - 1rem);
}

/* line 11, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_attributes.scss */
.preserve-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 16, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_attributes.scss */
.attribute-data {
  float: left;
  margin-bottom: 1.5em;
  margin-left: 2rem;
  width: calc(85% - 1rem);
}

/* line 23, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_attributes.scss */
.attribute--nested {
  border: 1px solid #dfe0e1;
  padding: 0.75em;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1976d2;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 25, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_buttons.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
  background-color: #145ea8;
  color: #fff;
}

/* line 30, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_buttons.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus {
  outline: 3px solid rgba(25, 118, 210, 0.6);
  outline-offset: 1px;
}

/* line 35, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_buttons.scss */
button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 39, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_buttons.scss */
button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover,
.button:disabled:hover {
  background-color: #1976d2;
}

/* line 3, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label:hover a {
  color: #1976d2;
}

/* line 7, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label:hover svg {
  fill: #1976d2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* line 13, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label a {
  color: inherit;
  display: inline-block;
  transition: color 250ms ease-in-out;
  width: 100%;
}

/* line 21, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label--asc,
.cell-label--desc {
  font-weight: 700;
}

/* line 26, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator {
  float: right;
  margin-left: 5px;
}

/* line 30, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator svg {
  fill: #7b808c;
  height: 13px;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  width: 13px;
}

/* line 38, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-label__sort-indicator--desc {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* line 42, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_cells.scss */
.cell-data--number,
.cell-label--number {
  text-align: right;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit {
  align-items: center;
  display: flex;
  margin-bottom: 1.5em;
  position: relative;
  width: 100%;
}

/* line 2, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/library/_clearfix.scss */
.field-unit::after {
  clear: both;
  content: "";
  display: block;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit__label {
  float: left;
  margin-left: 1rem;
  text-align: right;
  width: calc(15% - 1rem);
}

/* line 17, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit__field {
  float: left;
  margin-left: 2rem;
  width: 45%;
}

/* line 23, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit--nested {
  border: 1px solid #dfe0e1;
  margin-left: 7.5%;
  padding: 0.75em;
  width: 50%;
}

/* line 29, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit--nested .field-unit__field {
  width: calc(75% - 1rem);
}

/* line 33, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_field-unit.scss */
.field-unit--nested .field-unit__label {
  width: calc(25% - 1rem);
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-alert {
  background-color: #fff6bf;
  color: #66624c;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}

/* line 18, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-alert a {
  color: #4d4a39;
  text-decoration: underline;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-alert a:focus, .flash-alert a:hover {
  color: #1a1913;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-error {
  background-color: #fbe3e4;
  color: #645b5b;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}

/* line 18, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-error a {
  color: #4b4444;
  text-decoration: underline;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-error a:focus, .flash-error a:hover {
  color: #191717;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-notice {
  background-color: #e5edf8;
  color: #5c5f63;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}

/* line 18, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-notice a {
  color: #45474a;
  text-decoration: underline;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-notice a:focus, .flash-notice a:hover {
  color: #171819;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-success {
  background-color: #e6efc2;
  color: #5c604e;
  display: block;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center;
}

/* line 18, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-success a {
  color: #45483a;
  text-decoration: underline;
}

/* line 22, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_flashes.scss */
.flash-success a:focus, .flash-success a:hover {
  color: #171813;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_form-actions.scss */
.form-actions {
  margin-left: calc(15% + 2rem);
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  flex: 1 1 100%;
  padding-bottom: 10vh;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content__header,
.main-content__body {
  padding: 1rem 2rem;
}

/* line 15, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content__body--flush {
  padding-left: 0;
  padding-right: 0;
}

/* line 20, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content__header {
  align-items: center;
  border-bottom: 1px solid #dfe0e1;
  display: flex;
}

/* line 26, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_main-content.scss */
.main-content__page-title {
  font-size: 1.6em;
  margin-right: auto;
}

/* line 3, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_navigation.scss */
.navigation {
  flex: 1 0 10rem;
  padding-bottom: 1.5em;
  padding-right: calc(1.5em - 0.6em);
  padding-top: 1.5em;
}

/* line 10, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_navigation.scss */
.navigation__link {
  background-color: transparent;
  color: #293f54;
  display: block;
  line-height: 1;
  margin-left: -0.6em;
  padding: 0.6em;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

/* line 20, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_navigation.scss */
.navigation__link:not(:last-of-type) {
  margin-bottom: 0.75em;
}

/* line 24, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_navigation.scss */
.navigation__link:hover {
  background-color: #eaebeb;
  border-radius: 4px;
  color: #293f54;
}

/* line 31, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_navigation.scss */
.navigation__link--active {
  font-weight: 700;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination {
  margin-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}

/* line 7, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination .first,
.pagination .prev,
.pagination .page,
.pagination .next,
.pagination .last {
  margin: 0.75em;
}

/* line 15, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_pagination.scss */
.pagination .current {
  font-weight: 700;
}

/* line 3, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search {
  margin-left: auto;
  margin-right: 2rem;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

/* line 11, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search__input {
  border-radius: 100rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* line 17, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search__eyeglass-icon {
  fill: #293f54;
  height: 1rem;
  left: 1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
}

/* line 27, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search__clear-link {
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
}

/* line 36, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search__clear-icon {
  fill: #adb5bd;
  height: 1rem;
  position: absolute;
  transition: fill 250ms ease-in-out;
  width: 1rem;
}

/* line 43, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/components/_search.scss */
.search__clear-icon:hover {
  fill: #1976d2;
}

/* line 1, ../.rvm/gems/ruby-2.5.3@ooteportal/gems/administrate-0.11.0/app/assets/stylesheets/administrate/utilities/_text-color.scss */
.text-color-red {
  color: #d32f2f;
}
