<div class="p-2"></div>
<%- if controller_name != 'sessions' %>
 <div style="font-size: 0.7em;"><%= link_to "Log in", new_session_path(resource_name) %><br /></div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div style="font-size: 0.7em;"><%= link_to "Forgot your password?", new_password_path(resource_name) %><br /></div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
 <div style="font-size: 0.7em;"> <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br /></div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div style="font-size: 0.7em;"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /></div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div style="font-size: 0.7em;"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br /></div>
  <% end %>
<% end %>
