<h1 class="display-4">List of All Issues</h1>
<div class="p-2"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Member Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td class="text-center"><%= issue.member_name %></td>
            <td><%= issue.description %></td>
            <td class="text-center"><button type="button" class="btn btn-sm btn-<%= issue.status == "Raised" ? "danger" : "success" %>"><%= issue.status %></button></td>
            <td class="text-center"><%= link_to 'View and Update', edit_issue_path(issue), class: "btn btn-primary btn-sm" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>