<div class="p-2"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Member Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td class="text-center"><%= issue.member_name %></td>
            <td><%= issue.description %></td>
            <td class="text-center"><%= link_to 'View and Update', edit_issue_path(issue), class: "btn btn-primary btn-sm" %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Display all Issues", issues_path, class: submit_button %>
  </div>