<%
  new_edit_label = ""
  if @issue.new_record?
    new_edit_label = "Submit New Issue"
  else
    new_edit_label = "Update and Close"
  end
%>

<%= render "layouts/errors", object: issue %>

<div class="card border-primary mb-3">
  <h6 class="card-header bg-primary text-white">Issue</h6>
  <div class="card-body">
    <%= form_with(model: issue, local: true) do |form| %>

  
    <div class="form-group">
        <%= form.label "Describe the issue you have encountered" %>
        <%= form.text_area :description, class: "form-control", required: true  %>
    </div>
    
    <% if !@issue.new_record? %>
    
    <div class="form-group">
      <%= form.label "Rectification done" %>
      <%= form.text_area :response, class: "form-control", required: true  %>
    </div>
    
    <% end %>
  
    <div class="actions">
      <%= form.submit new_edit_label, class: "btn btn-primary btn-sm" %> <%= link_to 'Back', :back, class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
  </div>
</div>

