<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @issue.user_id %>
</p>

<p>
  <strong>Member name:</strong>
  <%= @issue.member_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Response:</strong>
  <%= @issue.response %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
