
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application-mailer", media: "all" %>
  </head>
  <body class="bg-light">
    <preview>Welcome to <%= Tenant.current_tenant.name %></preview>
    <div class="container h5">
      <div class="card">
        <div class="card-body">
    <div class="alert alert-primary text-center">Welcome to <%= Tenant.current_tenant.name %></div>
    <hr>
    <h3>
      Hello <%= @m.first.first_name %>,
    </h3>
    <br>
      You have been invited to join <%= Tenant.current_tenant.name %>. Please login and select "Change Portal" on the top right corner of the navigation bar. You can change the default portal on login in your "Edit Profile". 
      <br>
    
      <p >
      Please log on <a href="<%= ENV["DOMAIN_NAME"]%>" target="_blank"><%= Tenant.current_tenant.name %> Portal</a> to find out more. If you have any question, please contact <%= Tenant.current_tenant.name %> ICs.
      <br><br>
      Thank you.
      <br><br>
      From,<br>
      <%= Tenant.current_tenant.name %> Portal Administrator
    </p>
        </div>
      </div>
    </div>
  </body>
</html>