<h2 class="display-4">Forgot Your Password?</h2>
<div class="p-2"></div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email here." %>
  </div>

    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-sm" %>
<% end %>

<%= render "devise/shared/links" %>
