<div class="p-2"></div>
<% if current_user && Tenant.current_tenant.name != "Landlord" && current_user.member.first.active_status %>
<%= render "events/attendance" %>
<div class="p-2"></div>
<div class="container">
  <div class="row">
    <div class="col-9 d-none d-lg-block">
      <div class="card text-center border-primary rounded-0">
        <div class="card-header border-primary">
          <ul class="nav nav-pills card-header-pills nav-fill">
            <li class="nav-item">
              <%= link_to "<i class='fa fa-user' aria-hidden='true'></i> Show My Events".html_safe, display_my_events_path, remote: true, class: "btn btn-primary btm-sm bg-white text-primary rounded-0 nav-link" %>
            </li>
            <div class="p-2"></div>
            <li class="nav-item">
              <%= link_to "<i class='fa fa-users' aria-hidden='true'></i> Show All Events".html_safe, display_all_events_path, remote: true, class: "btn btn-primary btm-sm bg-white text-primary rounded-0 nav-link" %>
            </li>
            <div class="p-2"></div>
            <li class="nav-item">
              <div style="float: right;"><button type="button" class="btn btn-primary btm-sm rounded-0" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-calendar" aria-hidden="true"></i></button></div>
              <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Calendar Legend</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card d-none d-lg-block">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item bg-success text-white" style="font-size: 0.8em">All Members Assigned</li>
                          <li class="list-group-item bg-warning" style="font-size: 0.8em">Member Partially Assigned</li>
                          <li class="list-group-item bg-danger text-white" style="font-size: 0.8em">Members Not Assigned</li>
                          <li class="list-group-item bg-secondary text-white" style="font-size: 0.8em">Event is Over / Cancelled</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div id="results">
            <%= render "events/display_home_events", obj: @events, label: @label %>
          </div>  
        </div>
      </div>
    
    </div>
    <div class="col">
      
      <% if @upcoming_events.size > 0 %>
      

      <div class="card rounded-0">
        <div class="card-header text-center bg-primary text-white rounded-0">
          <strong><i class='fa fa-arrow-right' aria-hidden='true'></i> <%= "My Events Agenda".upcase %></strong>
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush text-center">
            
            <% @upcoming_events.each do |event| %>
            
            <a href="<%= event_path(event) %>" class="list-group-item list-group-item-action rounded-0">
              <div class="">
                <h5 class="mb-1"><%= event.name %></h5>
              </div>
              <span class="badge badge-primary badge-pill"><%= distance_of_time_in_words(event.start_date_time, Time.current).capitalize + " to go" %></span><br>
              <small class="text-muted"><%= event.start_date_time.strftime(Event.date_format) %> <br> <%= event.venue.name %></small>
              
            </a>

            <% end %> 

          </div>
        </div>
      </div>
      
      <% else %>
        <div class="alert alert-success" role="alert">
          You have no upcoming events.
        </div>
      <% end %>
      
      <div class="p-2"></div>

    </div>
  </div>
</div>
<% elsif current_user && !current_user.member.first.active_status %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hello <%= current_user.member.first.first_name%>!</strong> <br>You have been suspended from <%= Tenant.current_tenant.name %> Portal. If you think this is a mistake, please contact your administrator.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% else %>
  <% if !session[:tenant_id].blank? && Tenant.current_tenant.name == "Landlord" %>
    <div class="row">
      <div class="col-6">
        <div class="card border-primary rounded-0">
          <div class="card-body">
            <h5 class="card-title text-primary">List of Portals</h5>
            <p class="card-text">
              <ul class="list-group list-group-flush">
                <% @tenants.each do |tenant| %>
                  <li class="list-group-item"><%= link_to tenant.name, display_users_by_portal_path(tenant), class: "text-dark" %></li>
                <% end %>
              </ul>
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card border-danger rounded-0">
          <div class="card-body">
            <h5 class="card-title text-danger">List of Open Issues</h5>
            <p class="card-text"><%= render "issues/display_list_of_open_issues"%></p>
            
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome to Oote Portal</h4>
      <p>Oote Portal is an event personnel management portal to provide highly effective and efficient way of rostering. If you do not have an account, please contact your administrator.</p>
    </div>
  <% end %>
<% end %>