<% if obj %>
  <% if obj.size > 0 %>
  <%= will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Event Name</th>
          <th class="text-center">Date - Time<br>Venue</th>
          <th class="text-center">Duty Members</th>
          <th class="text-center">Event Type</th>
          <th class="text-center">Event Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% obj.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td class="text-center"><%= event.start_date_time.strftime(date_format) %><br><%= event.venue.name %></td>
            <td><% event.members.each do |member| %>
              <h5 class="text-center"><span class="badge badge-pill badge-primary"><%= member.full_name %></span></h5>
              <% end %>
            </td>
            <td>
              <% event.event_types.each do |type| %>
                <h5 class="text-center"><span class="badge badge-pill badge-info"><%= type.name %></span></h5>
              <% end %>
            </td>
            
            <td><h5 class="text-center"><span class="badge badge-pill badge-<%= event.status_color %>"><%= event.status %></span></h5></td>
            <td class="text-center"><%= link_to "<i class='fa fa-search-plus'></i> Show".html_safe, event, class: "#{submit_button}" %>
            <% if (current_user.member.first.try(:admin?) || current_user.member.first.try(:team_leader?)) && event.status != "Cancelled" && event.start_date_time >= Time.current %>
              <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_event_path(event), class: "#{submit_button}" %>
              <div class="p-1"></div>
              <%= link_to "<i class='fa fa-users'></i> Assign Members".html_safe, "/member_assignment/#{event.hashid}", class: "#{submit_button}" %>
              <div class="p-1"></div>
              <%= link_to "<i class='fa fa-user-times'></i> Cancel Event".html_safe, event, method: :delete, data: { confirm: confirm_delete_message }, class: "#{cancel_button}" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
  <% else %>
  <br>
  <div class="alert alert-warning" role="alert">
    <h5>No event found.</h5>
  </div>

  <% end %>
<% end %>