<%
  new_edit_label = ""
  if @event.new_record?
    new_edit_label = "Create Event Details and Proceed to Assign Members"
  else
    new_edit_label = "Update Event Details"
  end
%>

<%= render "layouts/errors", object: event %>

<%= form_with(model: event, local: true) do |form| %>

  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Event Summary</h6>
    <div class="card-body">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control"  %>
      </div>
    </div>
  </div>
  
  <div class="p-2"></div>
  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Event Details</h6>
      <div class="card-body">
        <div class="form-row">
        <div class="form-group col">
          <%= form.label "Date and Start Time" %>
          <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
              <%= form.text_field :start_date_time, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker7"}, :value => (@event.start_date_time.blank? ? '': @event.start_date_time.strftime(date_format)) %>
              <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
       
        <div class="form-group col">
          <%= form.label "Date and End Time" %>
          <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
            <%= form.text_field :end_date_time, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker8"}, :value => (@event.end_date_time.blank? ? '': @event.end_date_time.strftime(date_format)) %>
              <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="form-row">
        <div class="form-group col">
          <%= form.label "Venue" %>
          <%= form.collection_select :venue_id, Venue.all, :id,  :venue_descriptor, {:include_blank => true},  {:class =>"selectpicker form-control", :data => {:'live-search' => true}} %>
        </div>
        <div class="form-group col">
          <%= form.label "Event Types" %>
          <%= form.collection_select :event_type_ids, EventType.all.order(:name), :id, :name, {},  {:class =>"selectpicker form-control", :multiple => true, :data => {:'live-search' => true}} %>
        </div>
      </div>
      <div class="form-row">
        <% if Setting.first.manage_event_code %>
          <div class="form-group col">
            <%= form.label "Event Code" %>
            <%= form.collection_select :event_code_id, EventCode.all.order(:code), :id, :event_code_descriptor, {:include_blank => true},  {:class =>"selectpicker form-control", :data => {:'live-search' => true}} %>
          </div>
        <% end %>
        <div class="form-group col">
          <%= form.label "Number of Duty members required" %>
          <%= form.number_field :no_of_duty_member, class: "form-control", required: true, in: 1..20 %>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2"></div>
  <div class="form-group">
    <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-calendar'></i> <%= new_edit_label %> <% end %> <%= back_button %>
  </div>
<% end %>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
            $('#datetimepicker8').datetimepicker('date', e.date.add(1, 'hours'));
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            //$('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
        
        $(".selectpicker").selectpicker({
        }).selectpicker("render");
    });
    
    $('.custom-file-input').on('change', function() { 
       let fileName = $(this).val().split('\\').pop(); 
       $(this).next('.custom-file-label').addClass("selected").html(fileName); 
    });
</script>

