<h1  class="display-4">Search Events</h1>

<div class="p-2"></div>

<div id="event-lookup" class="card border-primary mb-3 rounded-0">
  <h6 class="card-header text-white bg-primary rounded-0">Search Parameters</h6>
  
  <%= form_tag search_events_path, remote: true, method: :get, id: "search-events-form" do %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <%= text_field_tag :event, params[:event], placeholder: "Event Title", autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group col">
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
            <%= text_field_tag :from_start_date, nil,  class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker7"}, placeholder: "From - Start Date" %>
            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    
      <div class="form-group col">
        <div class="input-group date col" id="datetimepicker8" data-target-input="nearest">
          <%= text_field_tag :to_start_date, nil, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker8"}, placeholder: "To - Start Date" %>
            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      </div>
      <div class="form-row">
      <div class="form-group col">
        <%= select_tag :venue, options_from_collection_for_select(Venue.all, :id, :venue_descriptor),  {:class =>"selectpicker form-control", :title => "Venue", :data => {:'live-search' => true}} %>
      </div>
      <% if Setting.first.manage_event_code? %>
        <div class="form-group col">
          <%= select_tag :event_code, options_from_collection_for_select(EventCode.all, :id, :code), {:class =>"selectpicker form-control", :title => "Event Code", :data => {:'live-search' => true}} %>
        </div>
      <% end %>
      <div class="form-group col">
        <%= select_tag :status, options_for_select(["Not assigned","Partially assigned","Assigned", "Cancelled"]),  {:class =>"selectpicker form-control", :title => "Event Status", :data => {:'live-search' => true}} %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col text-center">
        <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-search'></i> Search Event <% end %>
        <%= link_to "<i class='fa fa-ban'></i> Clear".html_safe, events_path, class: "#{cancel_button}" %> 
        <%= link_to "<i class='fa fa-calendar'></i> New Event".html_safe, new_event_path, class: "#{submit_button}" %>
      </div>
    </div>
    </div>
  <% end %>
</div>

<div class="p-2"></div>

<div id="results">
  <%= render "display_events", obj: @events %>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
            $('#datetimepicker8').datetimepicker('date', e.date.add(2, 'hours'));
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            //$('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
        
        $(".selectpicker").selectpicker({
        }).selectpicker("render");
        
        $('.pagination a').attr('data-remote', 'true')
    });
</script>