<% if params[:notice].present? %>
<div class="alert alert-success fade show">
  <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= params[:notice]  %>
</div>
<% end %>
<% @event = Event.find(params[:id]) %>

<h1 class="display-4">Member Assignment</h1>
<h6>For <%= @event.name %> on <%= @event.start_date_time.strftime(date_format) %> at <%= @event.venue.name %> </h6>

<div class="p-2"></div>
<%= form_for(@event, local: true, :url => {:action => "update_member_assignment"}) do |form| %>

  <div class="p-2"></div>
    <div class="card border-primary mb-3 rounded-0">
      <div class="card-header bg-primary text-white rounded-0">Assign Members for <%= @event.name %></div>
        <div class="card-body text-dark">  
        
        <div class="form-row">
  
        
          <div class="form-group col" id="members-assignment">
            <%= form.label "List of Available Members" %>
            <%= form.collection_select :member_ids, Member.available_members(@event.start_date_time, @event.end_date_time, @event.id, current_user), :id, :member_descriptor, {},  {:class =>"selectpicker form-control show-tick", :multiple => true, :data => {:'live-search' => true }} %>
            <small class="form-text text-muted">Names are sorted by home shortest to farthest distance from <%= @event.venue.name %></small>
          </div>
        </div>
        </div>
  </div>
  <div class="p-2"></div>
  <div class="form-group">
    <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-users'></i> Assign Member for <%= @event.name %> <% end %>
    <%= link_to "<i class='fa fa-mail-forward'></i> Skip Member Assignment".html_safe, @event, class: "#{submit_button}" %>
  </div>
  
<% end %>

<script type="text/javascript">
    $(function () {

        $(".selectpicker").selectpicker({
        }).selectpicker("render");
    });
</script>