<%= render "events/attendance" %>
<div class="card  border-0 mb-3 rounded-0">
  <div class="container">
    <h1 class="text-uppercase text-center text-primary p-2 font-weight-boold"><%= @event.name%></h1>
    <p class="lead text-center"><%= @event.description %></p>
    <hr class="my-4">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-right">Date and Start Time : </th>
          <td><%= @event.start_date_time.strftime(date_format) %></td>
        </tr>
        <tr>
          <th scope="row" class="text-right">Date and End Time : </th>
          <td><%= @event.end_date_time.strftime(date_format) %></td>
        </tr>
        <tr>
          <th scope="row" class="text-right">Venue : </th>
          <td><%= @event.venue.name %> <%= link_to "<i class='fa fa-map-marker'></i>".html_safe, @event.venue.url, target: :blank, class: "" %></td>
        </tr>
        <tr>
          <th scope="row" class="text-right">Duty Members : <br>
            <% if Setting.first.manage_attendance %>
              <small>Legend: <span class="badge badge-pill badge-secondary">Not Started</span> <span class="badge badge-pill badge-warning">Sign-on</span> <span class="badge badge-pill badge-success">Sign-off</span> <span class="badge badge-pill badge-danger">Absent</span></small>
            <% end %>
          </th>
          <td><h5><% @event.members.each do |member| %>
            <span class="badge badge-pill badge-<%= !member.event_members.where(event_id: @event.id).first.sign_off.blank? ? 'success' : (!member.event_members.where(event_id: @event.id).first.sign_on.blank? && member.event_members.where(event_id: @event.id).first.sign_off.blank? ) ? 'warning' : @event.end_date_time < Time.current ? 'danger' : 'secondary' %>"><%= member.full_name %> <%= " - " + member.mobile_number if Setting.first.display_phone%></span>
            <% end %></h5>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-right">Event Type : </th>
          <td><h5>
            <% @event.event_types.each do |type| %>
              <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="bottom" title="<%= type.description %>"><%= type.name %></span>
            <% end %>
            </h5>
          </td>
        </tr>
        <% if Setting.first.manage_event_code %>
        <tr>
          <th scope="row" class="text-right">Event Code : </th>
          <td><%= @event.event_code.present? ? @event.event_code.code : "N/A" %>-<%= @event.start_date_time.strftime(event_code_format) %>
          </td>
        </tr>
        <% end %>
          <th scope="row" class="text-right">Status : </th>
          <td><%= @event.status %></td>
        </tr> 
        <% if Setting.first.manage_event_report %>
        <tr>
          <th scope="row" class="text-right">Members' Report : </th>
          <td>
              <% if @event.report.blank? && @event.live_event_date_range === Time.current %>
                <button type='button' class="<%= submit_button %>" data-toggle='modal' data-target='#event_report'>Add Report</button>
              <% else %>
                <%= @event.report.html_safe if !@event.report.blank? %>
                <% if @event.live_event_date_range === Time.current %> 
                  <div class="p-2"></div>
                  <button type='button' class="<%= submit_button %>" data-toggle='modal' data-target='#event_report'>Edit Report</button> 
                <% else %>
                  <small>Add or edit of report is not allowed now. </small>
                <% end %>
              <% end %>
          </td>
          <%= form_with(model: @event, local: true, url: update_report_path) do |f| %>
            <div class="modal fade" id="event_report" tabindex="-1" role="dialog" aria-labelledby="event_report" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= @event.report.blank? ? "Add" : "Update" %> an Event Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_with(model: @event, local: true, url: update_report_path) do |f| %>
                      <%= f.text_area :report, class: "tinymce" %>
                        <%= tinymce %>
                      <%= f.hidden_field :id %>
                      <div class="p-2"></div>
                      <%= f.submit "#{ @event.report.blank? ? "Add Report" : "Update Report"}", class: "#{submit_button}"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if current_user.member.first.try(:admin?) %>
    <button class="<%= submit_button %>" type="button" data-toggle="collapse" data-target="#eventhistory" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-history"></i> Show Event History
    </button>
    <div class="p-2"></div>
    <div class="collapse col" id="eventhistory">
      <div class="card border-dark mb-3 rounded-0">
        <div class="card-header rounded-0"><strong>Event Update History</strong></div>
          <ul class="list-group list-group-flush">
            <% @event_logs.each do |event_log| %>
              <li class="list-group-item" style="font-size: 0.7em"><%= event_log.event_log %></li>
            <% end %>
          </ul>
      </div>
    </div>
    <% end %>
    <% if @event.status != "Cancelled" && current_user.member.first.try(:admin?) && @event.start_date_time >= Time.current %>
      <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_event_path(@event), class: "#{submit_button}" %> 
      <%= link_to "<i class='fa fa-users'></i> Assign Members".html_safe, "/member_assignment/#{@event.hashid}", class: "#{submit_button}" %>
      <%= link_to "<i class='fa fa-ban'></i> Cancel Event".html_safe, event_path(@event), method: :delete, data: { confirm: confirm_delete_message }, class: "#{cancel_button}" %>
    <% end %> 
    <%= back_button %>
  </div>
</div>


