<%= form_with(model: setting, local: true) do |form| %>
<%= render "layouts/errors", object: setting %>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :send_sms, class: "custom-control-input", id: "send_sms" %>
      <%= form.label :send_sms, class: "custom-control-label", for: "send_sms" %> <small>Send reminder SMS to members 3 days before actual events.</small>
    </div>
  </li>

  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :manage_event_report, class: "custom-control-input", id: "manage_event_report" %>
      <%= form.label :manage_event_report, class: "custom-control-label", for: "manage_event_report" %> <small>Allow members to submit event reports. (Available 2 hours before start time to 48 hours after end time)</small>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :manage_attendance, class: "custom-control-input", id: "manage_attendance" %>
      <%= form.label :manage_attendance, class: "custom-control-label", for: "manage_attendance" %> <small>Allow members to mark attendance for events. (Available 2 hours before start time to 48 hours after end time)</small>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :display_phone, class: "custom-control-input", id: "display_phone" %>
      <%= form.label :display_phone, class: "custom-control-label", for: "display_phone" %> <small>Display phone number at event page for contacting purposes.</small>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :manage_event_code, class: "custom-control-input", id: "manage_event_code" %>
      <%= form.label :manage_event_code, class: "custom-control-label", for: "manage_event_code" %> <small>Display event codes for coding of events.</small>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="custom-control custom-switch">
      <%= form.check_box :display_rhq, class: "custom-control-input", id: "display_rhq" %>
      <%= form.label :display_rhq, "Display RHQ", class: "custom-control-label", for: "display_rhq" %> <small>Display RHQ details during member assignment.</small>
    </div>
  </li>
  
</ul>
<div class="p-2"></div>
<div class="actions">
  <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-sliders'></i> Update Setting <% end %>
  <% if current_user.member.first.try(:admin?) %>
    <button class="<%= submit_button %>" type="button" data-toggle="collapse" data-target="#settinghistory" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-history"></i> Show Setting History
    </button>
    <div class="p-2"></div>
    <div class="collapse" id="settinghistory">
      <div class="card border-dark mb-3 rounded-0">
        <div class="card-header rounded-0"><strong>Setting Update History</strong></div>
          <ul class="list-group list-group-flush">
            <% @setting_logs.each do |setting_log| %>
              <li class="list-group-item" style="font-size: 0.7em"><%= setting_log.setting_log %></li>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>
</div>
<% end %>
