<%= render "layouts/errors", object: venue %>

<div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Venue</h6>
  <div class="card-body">

    <%= form_with(model: venue, local: true) do |form| %>

      <div class="form-row">
        <div class="col">
          <%= form.label "Venue Name" %>
          <%= form.text_field :name, class: "form-control", required: true  %>
          <small class="form-text text-muted">Example: SSA HQ</small>
        </div>
        <div class="col">
          <%= form.label "Venue Street Name" %>
          <%= form.text_field :street_name, class: "form-control", required: true  %>
          <small class="form-text text-muted">Enter your venue street name, such as Tampines Street 81.</small>
        </div>
      </div>
      
      <div class="form-group">
        <%= form.label "Google Map URL" %>
        <%= form.text_field :url, class: "form-control", required: true  %>
      </div>
    
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", required: true  %>
      </div>
      
      <div class="form-group">

      </div>
    
      <div class="actions">
        <%= form.submit class: "#{submit_button}" %> <%= back_button %>
      </div>
    <% end %>
  </div>
</div>
