<h1 class="display-4">Venue List</h1>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-location-arrow'></i> New Venue".html_safe, new_venue_path, class: "#{submit_button}" %>
<div class="p-2"></div>

<div class="">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Venue Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to "<i class='fa fa-map-marker'></i>".html_safe, venue.url, target: :blank, class: "" %>  <%= venue.name %></td>
        <td><%= venue.description %></td>
        <td>
          <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_venue_path(venue), class: "#{submit_button}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-location-arrow'></i> New Venue".html_safe, new_venue_path, class: "#{submit_button}" %>
