<div class="simple-calendar">
  <div class="calendar-heading p-2">
    <div class="row">
      <div class="col-3">
        <%= link_to t('simple_calendar.previous', default: "<i class='fa fa-arrow-circle-left'></i> Previous".html_safe), calendar.url_for_previous_view, remote: true, class: "#{transparent_button}" %>
      </div>
      <div class="col-6">
        <span class="calendar-title p-5" style="font-size: 1.2em"><strong><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></strong></span>
      </div>
      <div class="col-3">
        <%= link_to t('simple_calendar.next', default: "Next <i class='fa fa-arrow-circle-right'></i>".html_safe), calendar.url_for_next_view, remote: true, class: "#{transparent_button}" %>
      </div>
    <%  #link_to "Today", root_path, class: "btn btn-white btn-sm border-primary text-primary" %>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), style: "width: 14.2%" do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
