<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-row">
  <div class="col-auto">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm", placeholder: :email %>
  </div>
  <div class="col-auto">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm", placeholder: :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="col-auto my-1">
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label", style: "color: white" %>
      </div>
    </div>
  <% end %>
    <div class="col-auto">
    <%= f.submit "Login", class: "btn bg-success text-white border-white btn-sm rounded-0" %>
    </div>
</div>

<% end %>
