<div class="p-2"></div>
<div class="jumbotron jumbotron-fluid col justify-center bg-white border-primary p-2">
  <div class="container">
    <h1 class="display-4 text-center"><%= @recurrent_event.name%></h1>
    <p class="lead text-center"><%= @recurrent_event.description %></p>
    <hr class="my-4 bg-primary" s>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-right">Dates : </th>
            <td>
              <% @recurrent_event.events.each do |event| %>
                <h5><span class="badge badge-pill badge-info"><%= event.start_date_time.strftime(Event.date_only_format) %></span></h5>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-right">Start Time : </th>
            <td><%= @recurrent_event.start_time.strftime(Event.time_format) %></td>
          </tr>
          <tr>
            <th scope="row" class="text-right">End Time : </th>
            <td><%= @recurrent_event.end_time.strftime(Event.time_format) %></td>
          </tr>
          <tr>
            <th scope="row" class="text-right">Venue : </th>
            <td><%= @recurrent_event.venue.name %> <%= link_to "<i class='fa fa-map-marker'></i>".html_safe, @recurrent_event.venue.url, target: :blank, class: "" %></td>
          </tr>
          <tr>
            <th scope="row" class="text-right">Number of Duty Members Required : </th>
            <td> <%= @recurrent_event.no_of_duty_member %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-right">Event Type : </th>
            <td><h5>
              <% @recurrent_event.event_types.each do |type| %>
                <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="bottom" title="<%= type.description %>"><%= type.name %></span>
              <% end %>
              </h5>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="bg-white"><div class="p-2"></div><h5 class="display-4 text-center">List of Events in this Reccurence</h5><%= render 'events/display_events', obj: @recurrent_event.events.paginate(page: params[:page], per_page: 10) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= back_button %>
