<%= render "layouts/errors", object: event_type %>

<div class="card border-primary mb-3 rounded-0">
  <h6 class="card-header bg-primary text-white rounded-0">Event Type</h6>
  <div class="card-body">
    <%= form_with(model: event_type, local: true) do |form| %>

  
    <div class="form-group">
        <%= form.label "Event Type" %>
        <%= form.text_field :name, class: "form-control", required: true  %>
    </div>
  
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", required: true  %>
    </div>
  
    <div class="actions">
      <%= form.submit class: "#{submit_button}" %> <%= back_button %>
    </div>
  <% end %>
  </div>
</div>

