<h1 class="display-4">Event Type List</h1>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-calendar-check-o'></i> New Event Type".html_safe, new_event_type_path, class: "#{submit_button}" %>
<div class="p-2"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event Type</th>
      <th>Description</th>
      <th >Action</th>
    </tr>
  </thead>

  <tbody>
    <% @event_types.each do |event_type| %>
      <tr>
        <td><%= event_type.name %></td>
        <td><%= event_type.description %>
        <td><%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_event_type_path(event_type), class: "#{submit_button}" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-calendar-check-o'></i> New Event Type".html_safe, new_event_type_path, class: "#{submit_button}" %>
