
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application-mailer", media: "all" %>
  </head>
  <body class="bg-light">
    <preview>Updated Event - <%= @event.name %></preview>
    <div class="container h5">
      <div class="card">
        <div class="card-body">
    <div class="alert alert-primary text-center"><%= @event.name %> on <%= @event.start_date_time.strftime(Event.date_format) %></div>
    <hr>
    <h3>
      Hello <%= @m.first_name %>,
    </h3>
    <br>
      This event details are updated. The details are as follows:
      <br>
      
        <table class="table my-3 table-bordered table-striped">
          <thead class="thead-light">
          </thead>
          <tbody>
            <tr>
              <th align="right">Event Title : </th>
              <td><%= @event.name %></td>
            </tr>
            <tr>
              <th align="right">Event Description : </th>
              <td><%= @event.description %></td>
            </tr>
            <tr>
              <th align="right">Date and Time :  </th>
              <td><b><%= @event.start_date_time.strftime(Event.date_format) %></b></td>
            </tr>
            <tr>
              <th align="right">Venue : </th>
              <td><%= @event.venue.name %></td>
            </tr>
          <tr>
            <th align="right">Event Type : </th>
            <td><% @event.event_types.each do |eventtypes| %>
              <span class="badge badge-pill badge-info"><%= eventtypes.name %></span>
              <% end %> </td>
          </tr>
            <tr>
              <th align="right">Team members : </th>
              <td><% @event.members.each do |member| %>
                <span class="badge badge-pill badge-primary"><%= member.full_name %></span>
            <% end %> </td>
            </tr>
          </tbody>
        </table>
    
            <p >
            Please log on <a href="<%= ENV["DOMAIN_NAME"]%>/events/<%= @event.hashid %>" target="_blank"><%= Tenant.current_tenant.name %> Portal</a> to find out more. If you have any question, please contact <%= Tenant.current_tenant.name %> ICs.
            <br><br>
            Thank you.
            <br><br>
            From,<br>
            <%= Tenant.current_tenant.name %> Portal Administrator
          </p>
        </div>
      </div>
    </div>
  </body>
</html>