<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body class="bg-light">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>EMAIL CHANGED</strong></h5>
          <p class="card-text">Hello <%= @email %>!</p>
          <% if @resource.try(:unconfirmed_email?) %>
            <p class="card-text">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
          <% else %>
            <p class="card-text">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
          <% end %>
          <p class="card-text">Thank you.<br><br>Regards,<br>Ooteportal Portal Administrator</p>
        </div>
      </div>
    </div>
  </body>
</html>