<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body class="bg-light">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>PASSWORD CHANGED</strong></h5>
          <p class="card-text">Hello <%= @resource.email %>!</p>
          <p class="card-text">We're contacting you to notify you that your password has been changed.</p>
          <p class="card-text">Thank you.<br><br>Regards,<br>Ooteportal Portal Administrator</p>
        </div>
      </div>
    </div>
  </body>
</html>