<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body class="bg-light">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>PASSWORD RESET</strong></h5>
          <p class="card-text">Hello <%= @resource.email %>!</p>
          <p class="card-text">Someone has requested a link to change your password. You can do this through the link below.</p>
          <p class="text-center"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %></p>
          <p class="card-text">If you didn't request this, please ignore this email.</p>
          <p class="card-text">Your password won't change until you access the link above and create a new one.</p>
          <p class="card-text">Thank you.<br><br>Regards,<br>Ooteportal Portal Administrator</p>
        </div>
      </div>
    </div>
  </body>
</html>