<%
  new_edit_label = ""
  if @member_schedule.new_record?
    new_edit_label = "Add"
  else
    new_edit_label = "Update"
  end
%>

<%= form_with(model: member_schedule, local: true) do |form| %>

  <%= render "layouts/errors", object: member_schedule %>

  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Unavailable Schedule</h6>
    <div class="card-body">
      
      <% if mode == "other" %>
        <div class="form-row">
          <div class="col">
            <%= form.label :member_id, "Member" %>
            <%= form.collection_select :member_id, Member.all, :id,  :member_descriptor, {:include_blank => true, required: true},  {:class =>"selectpicker form-control", :data => {:'live-search' => true}} %>
          </div>
        </div>
      <% end %>
      <div class="form-row">
        <div class="col">
        <%= form.label "Unavailable Start Date and Time" %>
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
          <%= form.text_field :unavailable_start_date, class: "form-control datetimepicker-input", readonly: true, required: true, data: {target: "#datetimepicker7"}, :value => (@member_schedule.unavailable_start_date.blank? ? '': @member_schedule.unavailable_start_date.strftime(date_format)) %>
          <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
        </div>
        
        <div class="col">
        <%= form.label "Unavailable End Date and Time" %>
        <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
          <%= form.text_field :unavailable_end_date, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker8"}, :value => (@member_schedule.unavailable_end_date.blank? ? '': @member_schedule.unavailable_end_date.strftime(date_format)) %>
          <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
        </div>
      </div>
      <div class="p-2"></div>
      <%= hidden_field_tag "mode", mode %>
     <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-calendar'></i> <%= new_edit_label %> Unavailable Schedule <% end %> <%= back_button %>
    </div>
  </div>


  
<% end %>

<%= render "layouts/datepicker" %>
