<h1 class="display-4">Display Members' Unavailable Schedule</h1>
<div class="p-2"></div>
<% if @member_unavailable_schedule.size > 0 %>
  <%= will_paginate @member_unavailable_schedule,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Member's Name</th>
          <th class="text-center">Start Date</th>
          <th class="text-center">End Date</th>
          <th class="text-center">Duration</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
    
      <tbody>
        <% @member_unavailable_schedule.each do |schedule| %>
          <tr>
            <td><%= schedule.member.member_descriptor %></td>
            <td class="text-center"><%= schedule.unavailable_start_date.strftime(Event.date_with_day_format) %></td>
            <td class="text-center"><%= schedule.unavailable_end_date.strftime(Event.date_with_day_format) %></td>
            <td class="text-center"><%= distance_of_time_in_words(schedule.unavailable_end_date, schedule.unavailable_start_date).capitalize %></td>
            <td class="text-center"><%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_member_schedule_path(schedule, mode: "other-edit"), class: "#{submit_button}" %> 
            <%= link_to "<i class='fa fa-ban'></i> Delete".html_safe, schedule, class: "#{cancel_button}", method: :delete, data: { confirm: confirm_delete_message } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @member_unavailable_schedule,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
<% else %>
  <br>
  <div class="alert alert-warning" role="alert">
    <h5>No unavailable member schedule found.</h5>
  </div>
<% end %>