<h1 class="display-4">List of My Unavailable Schedule</h1>

<% if @member_schedules.any?  %>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>Unavailable Start Date and Time</th>
      <th>Unavailable End Date and Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_schedules.each do |member_unavailability| %>
      <tr>
        <td><%= member_unavailability.unavailable_start_date.strftime(date_format) %></td>
        <td><%= member_unavailability.unavailable_end_date.strftime(date_format) %></td>
        <td><%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_member_schedule_path(member_unavailability), class: "#{submit_button}" %>
        <%= link_to "<i class='fa fa-ban'></i> Delete".html_safe, member_unavailability, class: "#{cancel_button}", method: :delete, data: { confirm: confirm_delete_message } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="p-2"></div>
  <div class="alert alert-success">You have no unavailable schedule. :) </div>
<% end %>

<br>

<%= link_to "<i class='fa fa-calendar'></i> Add New Unavailabile Schedule".html_safe, new_member_schedule_path, class: "#{submit_button}" %> <%= back_button %>
