<li class="nav-item dropdown p-2">
  <button class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-address-card" aria-hidden="true"></i> Administration
  </button>
  <div class="dropdown-menu rounded-0 scrollable-menu"  aria-labelledby="navbarDropdown">
    
    <h6 class="dropdown-header text-uppercase">Events</h6>
      <%= link_to "Create New Single Event", new_event_path, class: "dropdown-item" %>
      <%= link_to "Create New Recurring Events", new_recurrent_event_path, class: "dropdown-item" %>
      <%= link_to "View Recurrent Events", recurrent_events_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    
    <h6 class="dropdown-header text-uppercase">Members</h6>
      <%= link_to "Invite New Member", new_member_path, class: "dropdown-item" %>
      <%= link_to "Add Member's Unavailable Schedule", new_member_schedule_path(mode: "other"), class: "dropdown-item" %>
      <%= link_to "View Members' Unavailable Schedule", display_member_unavailable_schedule_path, class: "dropdown-item" %>
      <%= link_to "Search Members", members_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    
    <h6 class="dropdown-header text-uppercase">Team</h6>
      <%= link_to "Create New Team", new_team_path, class: "dropdown-item" %>
      <%= link_to "Display all teams", teams_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    
    <h6 class="dropdown-header text-uppercase">Event Parameters</h6>
      <%= link_to "Venue", venues_path, class: "dropdown-item" %>
      <%= link_to "Event Type", event_types_path, class: "dropdown-item" %>
      <%= link_to "Event Code", event_codes_path, class: "dropdown-item" if Setting.first.manage_event_code %>
    
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header text-uppercase">Portal Setting</h6>
      <%= link_to "Setting", settings_path, class: "dropdown-item" %>
  </div>
</li>

<li class="nav-item dropdown p-2">
  <button class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-file-text" aria-hidden="true"></i> Reports
  </button>
  <div class="dropdown-menu rounded-0"  aria-labelledby="navbarDropdown">
    
    <h6 class="dropdown-header text-uppercase">Members</h6>
      <%= link_to "Members' Attendance", display_members_report_path, class: "dropdown-item" %>
  </div>
</li>