<li class="nav-item dropdown p-2">
  <button class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Landlord Administration
  </button>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    <h6 class="dropdown-header"><%= "#{'Portal'}".upcase %></h6>
    <%= link_to 'Create New Portal', new_user_registration_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header"><%= "#{'Landlord Minions'}".upcase %></h6>
    <%= link_to "Invite New Minion to Landlord", new_member_path, class: "dropdown-item" %>
    <%= link_to "Search Minions", members_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header"><%= "#{'Issue Management'}".upcase %></h6>
    <%= link_to "View All Issues", issues_path, class: "dropdown-item" %>
  </div>
</li>

<li class="nav-item dropdown p-2">
  <button disabled class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Report Management (Future)
  </button>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    <h6 class="dropdown-header"><%= "#{'Portal'}".upcase %></h6>
    <%= link_to 'Create New Portal', new_user_registration_path, class: "dropdown-item" %>
    <%= link_to 'View All Portals', "", class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header"><%= "#{'Landlord Minions'}".upcase %></h6>
    <%= link_to "Invite New Minion to Landlord", new_member_path, class: "dropdown-item" %>
    <%= link_to "Search Minions", members_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header"><%= "#{'Issue Management'}".upcase %></h6>
    <%= link_to "View All Issues", issues_path, class: "dropdown-item" %>
  </div>
</li>