<li class="nav-item dropdown p-2">
  <button class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Administration
  </button>
  <div class="dropdown-menu rounded-0"  aria-labelledby="navbarDropdown">
    
    <h6 class="dropdown-header text-uppercase">Events</h6>
      <%= link_to "Create New Single Event", new_event_path, class: "dropdown-item" %>
      <%= link_to "Create New Recurring Events", new_recurrent_event_path, class: "dropdown-item" %>
      <%= link_to "View Recurrent Events", recurrent_events_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header text-uppercase">Members</h6>
      <%= link_to "Invite New Member", new_member_path, class: "dropdown-item" %>
      <%= link_to "Add Member's Unavailable Schedule", new_member_schedule_path(mode: "other"), class: "dropdown-item" %>
      <%= link_to "View Members' Unavailable Schedule", display_member_unavailable_schedule_path, class: "dropdown-item" %>
      <%= link_to "Search Members", members_path, class: "dropdown-item" %>

  </div>
</li>