<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Tenant.current_tenant ? Tenant.current_tenant.name : "Ooteportal" %></title>
    <link rel="stylesheet" href="https://use.typekit.net/dwp4qbh.css">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ooteportal" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="bg-primary">
    <header>
      <%= render 'layouts/navigation' %>

    </header>
    <div class="bg-white">
    <main role="main">
        <div class="p-4"></div>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
        <div class="p-3"></div>
    </div>

    <footer class="bg-primary text-white">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
