<% if obj %>
  <% if obj.size > 0 %>
  <div class="row justify-content-between">
    <div class="col-auto">
      <h4>Attendance Report from <%= from_start_date %> to <%= end_start_date %></h4>
    </div>
    <div class="col-auto">
      <%= link_to "<i class='fa fa-file-excel-o'></i> Export to Excel Spreadsheet".html_safe, search_members_report_path(format: :xlsx), class: "#{transparent_button}" %>
    </div>
  </div>
      
    <div class="p-2"></div>
    <% #will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-center">Team</th>
            <th class="text-center">No. of Events</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% obj.each do |member| %> 
            <tr>
              <td class="text-left"><%= member.full_name %></td>
              <td class="text-center">
                <% member.teams.each do |team|  %>
                  <h6><span class="badge badge-pill badge-primary"><%= team.name %></span></h6>
                <% end %>
              </td>
              <td class="text-center"><%= member.events.size %></td>
              <td>
                <%= link_to "Events", display_events_by_member_path(member), class: "#{submit_button}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
    <% #will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      No member found based on the current search parameters.
    </div>
  <% end %>
<% end %>