$('#results').html("<%= j ( render 'members/display_members_report.html', obj: @members, from_start_date: @from_start_date, end_start_date: @end_start_date ) %>");
$('.pagination a').attr('data-remote', 'true');