<% if obj %>
  <% if obj.size > 0 %>
    <%= will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-center">Mobile No</th>
            <th class="text-center">Team</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% obj.each do |member| %> 
            <tr>
              <td><%= member.full_name %></td>
              <td class="text-center"><%= member.mobile_number %></td>
              <td class="text-center">
                <% member.teams.each do |team|  %>
                  <h6><span class="badge badge-pill badge-primary"><%= team.name %></span></h6>
                <% end %>
              </td>
              <td>
                <% if !member.active_status  %>
                  <%= link_to "<i class='fa fa-ban'></i> Member Suspended - View Past Events".html_safe, display_events_by_member_path(member), class: "#{cancel_button}" %>
                  <%= link_to "<i class='fa fa-refresh'></i> Reactivate".html_safe, reactivate_member_path(member), class: "btn btn-success btn-sm" %>
                <% elsif current_user.member.first != member %>
                  <%= link_to "<i class='fa fa-search-plus'></i> View Profile".html_safe, edit_member_path(member), class: "#{submit_button}"  %> 
                  <%= link_to "<i class='fa fa-calendar'></i> Events".html_safe, display_events_by_member_path(member), class: "#{submit_button}" %>
                  <%= link_to "<i class='fa fa-ban'></i> Suspend Member".html_safe, member_path(member), method: :delete, data: {confirm: "Are you sure?"}, class: "#{cancel_button}" %>
                <% else %>
                  To update, use "Edit My Profile" option.
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
    <%= will_paginate obj,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      No member found based on the current search parameters.
    </div>
  <% end %>
  <%= back_button %>
<% end %>
