<h1  class="display-4">Search Members</h1>
<div class="p-2"></div>

<div id="member-lookup" class="card border-primary mb-3 rounded-0">
  <h6 class="card-header text-white bg-primary rounded-0">Search Parameters</h6>
  
  <%= form_tag search_members_path, remote: true, method: :get, id: "search-members-form" do %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <%= text_field_tag :name, params[:name], placeholder: "Name", autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group col">
        <%= select_tag :team, options_from_collection_for_select(Team.all, :id, :team_descriptor),  {:class =>"selectpicker form-control", :title => "Team", :multiple => false, :data => {:'live-search' => true}} %>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col text-center">
        <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-users'></i> Search Members <% end %>
        <%= link_to "<i class='fa fa-refresh'></i> Clear".html_safe, members_path, class: "#{submit_button}" %> 
        <%= back_button %>

      </div>
    </div>
    </div>
  <% end %>
</div>

<div class="p-2"></div>
<div id="results">
  <%= render "display_members", obj: @members %>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
            $('#datetimepicker8').datetimepicker('date', e.date.add(2, 'hours'));
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            //$('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
        
        $(".selectpicker").selectpicker({
        }).selectpicker("render");
        
        $('.pagination a').attr('data-remote', 'true')
    });
</script>