<h1 class="display-4">Invite New Member</h1>
<%= render "layouts/errors", object: @user %>
<%= render "layouts/errors", object: @member %>

<div class="card border-primary mb-3 rounded-0">
  <h6 class="card-header bg-primary text-white rounded-0">New Member</h6>
  <div class="card-body">
    <%= form_with(model: Member, local: true) do |form| %>
      <div class="form-row">
      <%= fields_for( :user ) do |w| %>
        
          <div class="control-group col">
          <%= w.label :email %>
            <div class="controls">
              <%= w.text_field :email, class: "form-control", required: true  %>
            </div>
          </div>
        
      <% end %>
        <div class="control-group col">
          <%= form.label :role %>
          <div class="controls">
            <%= form.select(:role, options_for_select( current_user.member.first.try(:admin?) ? Member.roles.map {|k, v| [k.humanize.capitalize, k]} : Member.roles.first(2).map {|k, v| [k.humanize.capitalize, k]} ), {}, {class: "form-control"}) %>
          </div>
        </div>
      </div>
  
    <div class="form-row">
      <div class="col">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control", required: true  %>
      </div>
  
      <div class="col">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control", required: true  %>
      </div>
    </div>
    
    <div class="p-2"></div>
    
    <div class="actions">
      <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-user'></i> Create User and Invite <% end %> <%= back_button %>
    </div>
  <% end %>
  </div>
</div>